<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
	<section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="default" connectionString="data source=.; Database=Switcha; integrated security = true" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <!--
	For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

	The following attributes can be set on the <httpRuntime> tag.
	  <system.Web>
		<httpRuntime targetFramework="4.6.1" />
	  </system.Web>
  -->
  <system.web>
	<compilation debug="true" targetFramework="4.6.1" />
	<httpRuntime targetFramework="4.5" />
	<httpHandlers>
	  <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
	</httpHandlers>
	<httpModules>
	  <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
	</httpModules>
	<pages>
	  <controls>
		<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
	  </controls>
	  <namespaces>
		<add namespace="Ext.Net" />
		<!--<add namespace="Ext.Net.MVC"/>-->
	  </namespaces>
	</pages>
  </system.web>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Ext.Net" publicKeyToken="2e12ce3d0176cd87" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2.5.2.10697" newVersion="2.5.2.10697" />
	  </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>
  <extnet theme="Gray" licenseKey="** Ext.NET LICENSE KEY HERE **" />
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
	<handlers>
	  <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
	</handlers>
	<modules>
	  <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
	</modules>
  </system.webServer>
</configuration>